<table mat-table [dataSource]="lista " class="mat-elevation-z8 container">

        <!-- Id -->
        
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> id </th>
          <td mat-cell *matCellDef="let element" (click)="itemSelecionado.emit(element)"> {{element.id}} </td>
        </ng-container>
      
        <!-- name -->
        
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"s> {{element.name}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>